.panel {
    width: 315px;
    background-color: #cddc39;
    position: fixed;
    height: 100%;
    overflow-y: scroll;
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
}

.panel::-webkit-scrollbar {
    display: none;
}

.title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background-color: #99aa00;
    padding: 10px 23px;
    cursor: default;
}

.nextDay {
    background-color: #99aa00;
    padding: 10px 23px;
    cursor: pointer;
    margin-top: auto;
    text-align: center;
    font-weight: bold;
    font-size: 19px;
    position: fixed;
    bottom: 0;
    width: 269px;
}

.nextDay:hover {
    background-color: #8c9900;
}