.chunkObject {
    padding: 15px;
    background-color: #c0ca33;
    cursor: default;
}

.objectsTitle, .personsTitle {
    font-weight: bold;
    text-align: center;
    font-size: 19px;
    background-color: #b6bf2f;
}

.personsTitle {
    margin-top: 15px;
}